footer {
    background-color: rgb(236, 236, 236);
    width: 1610px;
    height: 1000px;
    position: absolute;
    top: 155%;
}
.contact-footer {
    position: absolute;
    top: 5%;
    left: 5%;
}
.telephone-for-contact {
    position: absolute;
    top: 12%;
    left: 5%;
}
.telephone-number {
    position: absolute;
    top: 11.8%;
    left: 7%;
}
.opening-hours-telephone {
    position: absolute;
    top: 13.5%;
    left: 7%;
}
.contact-email {
    position: absolute;
    top: 23%;
    left: 7%;
}
.contact-email-icon {
    position: absolute;
    top: 23.5%;
    left: 5%;
}
.customer-service {
    position: absolute;
    top: 35%;
    left: 5%;
}
.customer-service-information {
    position: absolute;
    top: 41%;
    left: 5%;
    line-height: 35px;
}
.line-footer {
    position: absolute;
    top: 7%;
    left: 25%;
    height: 631px;
}
.hats-footer {
    position: absolute;
    top: 5%;
    left: 32%;
}
.hats-footer-text {
    position: absolute;
    top: 10.5%;
    left: 32%;
    line-height: 35px;
}
.caps-footer {
    position: absolute;
    top: 5%;
    left: 45%;
}
.caps-footer-text {
    position: absolute;
    top: 10.5%;
    left: 45%;
    line-height: 35px;
}
.cap-footer {
    position: absolute;
    top: 5%;
    left: 60%;
}
.cap-footer-text {
    position: absolute;
    top: 10.5%;
    left: 60%;
    line-height: 35px;
}
.gloves-footer {
    position: absolute;
    top: 35%;
    left: 60%;
}
.gloves-footer-text {
    position: absolute;
    top: 40.5%;
    left: 60%;
    line-height: 35px;
}
.scarves-footer {
    position: absolute;
    top: 5%;
    left: 75%;
}
.scarves-footer-text {
    position: absolute;
    top: 10.5%;
    left: 75%;
    line-height: 35px;
}
.topics-footer {
    position: absolute;
    top: 35%;
    left: 75%;
}
.topics-footer-text {
    position: absolute;
    top: 40.5%;
    left: 75%;
    line-height: 35px;
}
.information-about {
    background-color: rgb(48, 61, 78);
    width: 1625px;
    height: 100px;
    position: absolute;
    top: 90%;
}
.text-information-policy {
    text-align: center;
    margin-top: 20px;
    color: rgb(176, 181, 187);
    line-height: 25px;
}
.arrow-top {
    position: absolute;
    top: -25%;
    left: 90%;
}